.movies-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.movies-list > .items {
  display: grid;
  grid-auto-rows: auto;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  grid-gap: 15px;
  padding: 15px;
}

.expanded-movie-item {
  width: 100%;
  position: fixed;
  right: 0;
  color: #fff;
  top: 0;
  height: 100vh;
  right: -100%;
  transition: 0s right 0.2s;
}

.expanded-movie-item.opened {
  transition: 0s;
}

.expanded-movie-item .backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.2s opacity;
}

.expanded-movie-item.opened .backdrop {
  opacity: 1;
}

.expanded-movie-item.opened, .expanded-movie-item.opened .expanded-movie-item-inner {
  right: 0;
  opacity: 1;
}

.expanded-movie-item-inner {
  width: 60%;
  background: #000;
  right: -60%;
  position: absolute;
  transition: 0.2s;
  display: flex;
  height: 100%;
  padding: 35px;
  align-items: center;
}

.expanded-movie-item-inner .image-container {
  flex-basis: 100%;
  flex-shrink: 0.7;
  display: flex;
  max-height: 90%;
}

.expanded-movie-item-inner .image-container img {
  width: auto;
  height: 100%;
}

.expanded-movie-item .close-button {
  position: absolute;
  right: 20px;
  top: 0px;
  z-index: 9;
  font-size: 40px;
  cursor: pointer;
  text-shadow: 0 0 4px #000;
}

.expanded-movie-item-inner > * {
  z-index: 1;
}

.expanded-movie-item .detail-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: center no-repeat;
  background-size: cover;
  filter: blur(5px);
  z-index: 0;
  opacity: 0.3;
}

.expanded-movie-item h4 {
  display: inline;
}

.expanded-movie-item-inner > .description {
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  height: 100%;
  justify-content: center;
}

.expanded-movie-item-inner > .description > h2 {
  font-weight: 400;
}

.expanded-movie-item-inner > .description > span {
  margin-top: 15px;
  text-align: left;
  overflow: auto;
}

.movie-list-item {
  cursor: pointer;
  position: relative;
  background: #ddd 50% 50% no-repeat;
  background-size: 100%;
  padding-top: 140%;
  transition: 0.2s;
  border-radius: 10px;
  overflow: hidden;
}

.movie-list-item:hover {
  background-size: 105%;
}

.movie-list-item .title {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.2s;
}

.movie-list-item:hover .title {
  opacity: 1;
}

.movie-list-item .title .name {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.movie-list-item .title .rating {
  display: block;
  width: 100%;
  margin-top: auto;
}

.tmdb-image {
  position: relative;
  background: rgba(255, 255, 255, 0.3);
}

.tmdb-image .loader {
  animation: loader-spin infinite 2s linear;
  font-size: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  line-height: 40px;
}


.tmdb-image img {
  transition: 0.2s opacity;
  opacity: 1;
}

.tmdb-image img.isLoading {
  opacity: 0;
}

@keyframes loader-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
